{
 box-sizing: border-box;
}

body {
 margin:0;
 padding:0;
}
/* navbar styling */
.navbar {
 display: flex;
 justify-content: space-between;
 align-items:center;
 background-color: rgba(51, 51, 51, .75);
 color: whitesmoke;
 position:fixed;
 width: 100%;

}

.brand-title a {
 font-size: 2rem;
 margin:.5rem;
 text-decoration: none;
 color: whitesmoke;
}

.navbar-links ul {
 margin:0;
 padding: 0;
 display:flex;
}

.navbar-links li {
 list-style: none;
}

.navbar-links li a {
 text-decoration: none;
 color: whitesmoke;
 padding: 1rem;
 display: block;
 font-size: 1.5rem;
}

.navbar-links li:hover {
 background-color: #555;
 transition-delay: .3s;
 transition-timing-function: ease-in;
}

.toggle-btn {
 position:absolute;
 top: 0.75rem;
 right: 1rem;
 display: none;
 flex-direction: column;
 justify-content: space-between;
 width: 30px;
 height:21px;
}

.toggle-btn .bar {
 height: 3px;
 width: 100%;
 background-color: whitesmoke;
 border-radius: 10px;

}
@media(max-width: 800px) {

 .brand-title a {
  font-size: 2rem;
  margin:8rem;
  transition-timing-function: ease-in;
 }
 .brand-title {
  justify-content: center;
 }
 .toggle-btn {
  display:flex;
 }

 .navbar-links{
  display: none;
  width: 100%
 }
.navbar {
 flex-direction: column;
 align-items: flex-start;
}

.navbar-links ul {
 width:100%;
 flex-direction: column;
}

.navbar-links li {
 text-align: center;
}

.navbar-links li a {
 padding: .5rem 1rem;
}

.navbar-links.active {
 display: flex;
}
}
.content {
 height: 200vh;
 background-image: url(/images/whiskey1.jpeg);
 background-color: #333;
 background-blend-mode: multiply;
 background-size: 100%;
 background-repeat: no-repeat;
 display: grid;
 place-items: center;
 z-index: 999;
}
