{
 box-sizing: border-box;
}

body {
 margin:0;
 padding:0;
}
/* navbar styling */
.navbar {
 display: flex;
 justify-content: space-between;
 align-items:center;
 background-color: rgba(0, 0, 0, .75);
 color: whitesmoke;
 position:fixed;
 width: 100%;

}
/* link to the home page using the title  */
.brand-title a {
 /* changes font size */
 font-size: 2rem;
 margin:.5rem;
 /* eliminates hyperlink purple underlined styling from logo  */
 text-decoration: none;
 color: whitesmoke;
}

.navbar-links ul {
 margin:0;
 padding: 0;
 display:flex;
}

.navbar-links li {
 /* eliminates bullet points in unordored list  */
 list-style: none;
}

.navbar-links li a {
 /* eliminates hyperlink purple underlined styling from navbar links */
 text-decoration: none;
 color: whitesmoke;
 padding: 1rem;
 display: block;
 font-size: 1.5rem;
}
/* when hovering over links, the container the links are housed in will change color */
.navbar-links li:hover {
 background-color: seagreen;
 /* smooth out the transition of the hover  */
 transition-delay: .3s;
 transition-timing-function: ease-in;
}

.toggle-btn {
 position:absolute;
 top: 0.75rem;
 right: 1rem;
 display: none;
 flex-direction: column;
 justify-content: space-between;
 width: 30px;
 height:21px;
}

.toggle-btn .bar {
 height: 3px;
 width: 100%;
 background-color: whitesmoke;
 border-radius: 10px;
}
/* when the screen width decreases to 800 px, these styling properties will go into effect */
@media(max-width: 800px) {

 .brand-title a {
  font-size: 2rem;
  margin:8rem;
  transition-timing-function: ease-in;
 }
 .brand-title {
  justify-content: center;
 }
 .toggle-btn {
  display:flex;
 }

 .navbar-links{
  display: none;
  width: 100%
 }
.navbar {
 flex-direction: column;
 align-items: flex-start;
}

.navbar-links ul {
 width:100%;
 flex-direction: column;
}

.navbar-links li {
 text-align: center;
}

.navbar-links li a {
 padding: .5rem 1rem;
}

.navbar-links.active {
 display: flex;
}
}


.hero-section {
 height: 300vh;
 background-image: url(/images/whiskey1.jpeg);
 background-color: #333;
 background-blend-mode: multiply;
 background-size: 100%;
 background-repeat: no-repeat;
 display: grid;
 place-items: center;
 z-index: 998;
 display:flex;
 flex-direction: column;
}

/* hero text and shop now button */


.hero-section  {
 display: flex;
 flex-direction: column;
 color: black; 
 color: whitesmoke;
 align-items: center;
 text-decoration: none;
padding-top: 25vh;}


.herotext {
 font-size: 3em;
text-align: center;
}
.hero-para {
 font-size: 2em;
 margin-top: -10px;

}
#shop {
  text-decoration: none;
  color: black;
  font-size: 30px;
  display:block;
  background-image: url(shop.png);
background-color: none;
padding: 10px 55px 10px 55px;
  background-position: -60px -200px;
  border: 0px;
  }